/** Home Page **/
body {
	padding-top: 0;
	padding-bottom: 0px;
	background-color: #fff;
}


a {
color: #fff;
text-decoration: none;
text-shadow:none;
}




/* Icons
------------------------- */
.the-icons {
  margin-left: 0;
  list-style: none;
}
.the-icons li {
  float: left;
  width: 25%;
  line-height: 25px;
}
.the-icons i:hover {
  background-color: rgba(255,0,0,.25);
}




/****modified ****/


.navbar-inverse .brand {
color: #fff;
}


.navbar .nav>li>a {
float: none;
padding: 15px 30px 15px;
color: #fff;
text-decoration: none;
text-shadow: none;
}


.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
color: #fff;
text-decoration: none;
background-color: #666;
-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
text-shadow: none;
}


.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
background-color: #0088cc;
}

.bubble-arrow-border{
 border-color: transparent #E5E5E5 transparent transparent;
 border-style: solid;
 border-width: 10px;
 height:0;
 width:0;
 position:absolute;
 top: 40px;
 right: -20px;
}

.bubble-arrow{
 border-color: transparent #FFF transparent transparent;
 border-style: solid;
 border-width: 10px;
 height:0;
 width:0;
 position:absolute;
 top: 40px;
 right: -21px;
}

#sidebar
{
background-color: #6ec5e9;
border-right: 1px solid #E5E5E5;
padding:20px;
}

#sidebar .nav-tabs > li > a:hover,
#sidebar .nav-tabs > li.active > a{
	background: none;
	color: #08C !important;
	background: #ddd !important;
}

#sidebar .nav-tabs > li.active .arrow{
	display: block !important;
}

#sidebar .nav-tabs.nav-stacked > li > a {
	position: relative;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	text-align: center;
	font-size: 11px;
	color: #555;
	background:#fff;
	margin-bottom:10px;
	height:90px;
	
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

#sidebar .nav-tabs.nav-stacked > li > a:hover {
	background:#f1f1f1;
	}

#sidebar .nav-tabs.nav-stacked > li.active img,
#sidebar .nav-tabs.nav-stacked > li > a:hover img{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}


.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
color: #111;
text-shadow: none;
background-color: #fff;
}

.nav-list > li > a {
padding: 10px 15px;
}



#content
{
	padding-right:20px;
}



.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.table {
width: 100%;
margin-bottom: 20px;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
display: table;
}

.widget.widget-table .table {
margin-bottom: 0;
border: none;
}

.widget.widget-table .widget-content {
padding: 0;
}

.widget .widget-header + .widget-content {
border-top: none;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.widget .widget-content {
padding: 20px 15px 15px;
background: #FFF;
border: 1px solid #D5D5D5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.widget .widget-header {
position: relative;
height: 40px;
line-height: 40px;
background: #E9E9E9;
background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
text-shadow: 0 1px 0 #fff;
border-radius: 5px 5px 0 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
border-bottom: 1px solid #bababa;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
border: 1px solid #D5D5D5;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-background-clip: padding-box;

padding:10px;
}

thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
}

.widget .widget-header h3 {
top: 2px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}


.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}   

.panel-primary {
    border-color: #428BCA;
}   

.panel-primary > .panel-heading {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}   

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}   

.panel-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}   

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}   

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}   

.panel-body:after {
    clear: both;
}   

.panel-body {
    padding: 15px;
}   

.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px;
}


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}



.content-box {background: #f3f3f3; height: 548px;}

#content .content-box {background: #fff;}

#sidebar .content-box
{
	margin: -20px;
padding: 20px;
background: #6ec5e9;
}

#sidebar .nav-list
{
	margin:0 -20px;
}





.top-nav a
{
	color:#fff;
}

.top-nav a i.white
{
	color:#fff;
}

@media (min-width: 979px){
    body {
            padding-top: 50px;
    }
	
	#content
	{
		margin-top:20px;
	}
	
	
}

@media (max-width: 979px) {
#sidebar
{
	margin-top:50px;
}

#content
{
	margin-top:60px;
}
}


@media (max-width: 769px){
#sidebar, #content {
margin-top: 1px;
}
}


/* Large desktop */
@media (min-width: 1200px) { 

ul.top-nav 
	{
		margin-left:330px !important;
	} }


/* following for the file uploader's style */

button {font-family:Arial,Verdana;}
.demo { 
text-align: left; 
width: 200px;
border:solid 5px #CBCAC6;
background-color:#f9f9f9;
padding: 10px 20px 20px 20px; 
font-family:Segoe UI, Arial,Verdana,Helvetica,sans-serif;
font-size: 80%;
margin: 0 auto; 
} 
table.Grid
{
    border-width: 5px;
    border-style: none;
    background-color: White;
    border-color: gray;
    font-family:Segoe UI, Arial,Verdana,Helvetica,sans-serif;
    font-size: 90%;
}

table.Grid TD, table.Grid TH
{
    padding: 4px 6px 4px 6px;
    border: solid 1px #E1E1E1;
    vertical-align: top;
}

table.Grid TH
{
    background-color: #E1E1E1;
    font-weight: normal;
    color: #505050;
}

.container-fluid{
    background-color: #6ec5e9;
}